<div class="col-md-12" style="padding-bottom: 10px;">
  <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
    <table style="width: 100%;">
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 40%;"><input name="sitesearch" type="hidden" value="google.com">
          <input autocomplete="on" class="form-control search" name="q" placeholder="Search in Google.com"
            required="required" type="text">
        </td>
        <td style="width: 30%; padding-left: 10px;">
          <div><button class="button"  style="border-radius: 10px;" type="submit">Search Info</button></div>
        </td>
        <td style="width: 10%;"></td>
      </tr>
    </table>
  </form>
</div>
@if (blogList == null) {
<div class="alert alert-warning text-center" role="alert">
  Check your internet connection.
</div>
}
@else if (blogList.length == 0) {
<div class="alert alert-warning text-center" role="alert">
  No Blogs Found.
</div>
}
@else{
<div class="col-md-12">
  @for (item of blogList; track item) {
  <div class="card mb-3" style="max-width: auto;">
    <div class="row no-gutters">
      <!-- <div class="col-md-4">
                <img src="../../favicon.ico" class="card-img" alt="{{item.image}}">
              </div> -->
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">{{item.blogTitle}} &nbsp;- On &nbsp;<span
              class="badge text-bg-success">{{item.category}}</span></h5>
          <p class="card-text">{{item.blogDescription}}</p>
          <p class="card-text">{{item.blogContent}}</p>

          <div class="card-foot row">
            <p class="card-text col-md-6 col-sm-6">
              <small class="text-muted">
                <a href="#" class="btn btn-primary" [routerLink]="'/viewblog/'+item.blogId">Read More...</a></small>
            </p>
            <p class="card-text image col-md-6 col-sm-6" >
              <small class="text-muted">
                <a href="#" class="btn btn-primary d-md-none d-sm-block" (click)="deleteBlog(item.blogId)" title="Delete Blog" aria-label="Delete Blog">
                  <img src="{{imageURL}}" class="card-img" alt="{{item.image}}">
                </a>
                  <a href="#" class="btn btn-primary d-sm-none d-none d-md-block" (click)="deleteBlog(item.blogId)" title="Delete Blog" aria-label="Delete Blog">
                    <img src="{{imageURL}}" class="card-img2" alt="{{item.image}}">&nbsp;
                    Remove Blog
                  </a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  }
</div>
}