.card .card-body div.card-foot p.image{
    width: 50% !important;
}
.card .card-body div.card-foot p.image a{
    width: 45%;
    float: right;
}
.card .card-body div.card-foot .card-img{
    width: 10%;
}