<div class="col-md-12">
    <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <!-- <div class="col-md-4">
            <img src="../../favicon.ico" class="card-img" alt="{{tblData1.image}}">
          </div> -->
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">{{tblData1.blogTitle}}</h5>
              <p class="card-text">{{tblData1.blogDescription}}</p>
              <p class="card-text">{{tblData1.blogContent}}</p>
              <p class="card-text"><small class="text-muted">
                <a href="#" class="btn btn-primary" [routerLink]="'/blogs'">All Blogs</a></small>
              </p>
            </div>
          </div>
        </div>
    </div> 
</div>
